/*######General#######*/

body {
	background-color: #fff
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;	  
}

/*########Fonts#######*/

.title {
	font-size: 500%;
	font-weight: 900;
	text-align: center;
}

/*######Tags########*/


.style {

}

.websafe {

}

.size {

}

.family {

}

.fontweight {

}

.support {

}